In [1]:
import pandas as pd

In [8]:
f = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=['a','b','c'])
f

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [23]:
f.loc['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [24]:
f.iloc[0]

0    1
1    2
2    3
Name: a, dtype: int64

In [26]:
f[0] = 2

In [27]:
f[0]

a    2
b    2
c    2
Name: 0, dtype: int64

In [29]:
f.append(['nn'])

    0    1    2
a   2  2.0  3.0
b   2  5.0  6.0
c   2  8.0  9.0
0  nn  NaN  NaN

In [30]:
f

   0  1  2
a  2  2  3
b  2  5  6
c  2  8  9

In [31]:
f[0]=(1,4,7)

In [32]:
f

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [33]:
f_addCol = pd.DataFrame(f, columns=[0,1,2,3])

In [34]:
f_addCol

   0  1  2   3
a  1  2  3 NaN
b  4  5  6 NaN
c  7  8  9 NaN

In [35]:
f_addCol[3]=['A','B','C']

In [36]:
f_addCol

   0  1  2  3
a  1  2  3  A
b  4  5  6  B
c  7  8  9  C

In [37]:
f_addIndex = f_addCol.copy

In [38]:
f_addIndex

<bound method NDFrame.copy of    0  1  2  3
a  1  2  3  A
b  4  5  6  B
c  7  8  9  C>

In [39]:
f_addCol.loc['앤트'] = [10,11,12,'D']

In [40]:
f_addCol

     0   1   2  3
a    1   2   3  A
b    4   5   6  B
c    7   8   9  C
앤트  10  11  12  D

In [43]:
f_addCol.drop('앤트', axis=0, inplace=True)

In [44]:
f_addCol

   0  1  2  3
a  1  2  3  A
b  4  5  6  B
c  7  8  9  C

In [61]:
dic = {'name': 123, 'key':345}
dic

{'name': 123, 'key': 345}

In [63]:
dic2 = {123:'name', 345:'key'}
dic2

{123: 'name', 345: 'key'}

In [68]:
dic['name']

123

In [71]:
dic['gender'] = 'male'

In [72]:
dic

{'name': 123, 'key': 345, 'gender': 'male'}

In [73]:
dic[3]=[1,2,3,4,5]

In [74]:
dic[3]

[1, 2, 3, 4, 5]

In [75]:
dic

{'name': 123, 'key': 345, 'gender': 'male', 3: [1, 2, 3, 4, 5]}

In [76]:
dic[3][1]

2

In [77]:
dic[(10,11)]=[1,2,3,3,3]

In [78]:
dic

{'name': 123,
 'key': 345,
 'gender': 'male',
 3: [1, 2, 3, 4, 5],
 (10, 11): [1, 2, 3, 3, 3]}

In [79]:
dic[(10,11)]

[1, 2, 3, 3, 3]

In [81]:
dic[(10,11)][0]+dic[3][0]

2

In [82]:
dic.keys()

dict_keys(['name', 'key', 'gender', 3, (10, 11)])

In [83]:
dic.values()

dict_values([123, 345, 'male', [1, 2, 3, 4, 5], [1, 2, 3, 3, 3]])

In [84]:
list(dic.keys())

['name', 'key', 'gender', 3, (10, 11)]

In [85]:
for k in dic.keys():
    print(k)

name
key
gender
3
(10, 11)

In [90]:
for k in dic.values():
    k=2*k
    print(k)

246
690
malemale
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 3, 3, 1, 2, 3, 3, 3]

In [91]:
dic

{'name': 123,
 'key': 345,
 'gender': 'male',
 3: [1, 2, 3, 4, 5],
 (10, 11): [1, 2, 3, 3, 3]}

In [92]:
dic.items()

dict_items([('name', 123), ('key', 345), ('gender', 'male'), (3, [1, 2, 3, 4, 5]), ((10, 11), [1, 2, 3, 3, 3])])

In [93]:
dic.clear()

In [94]:
dic

{}

In [95]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [96]:
a

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [97]:
a.get('name')

'pey'

In [98]:
a['name']

'pey'

In [99]:
a['asd']

KeyError: 'asd'

In [107]:
a.get('asd')

In [108]:
a.get('foo',21344234213)

21344234213

In [109]:
a

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [115]:
'name' in a

True

In [119]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [127]:
s2 = set('1 2    3111')
s2

{' ', '1', '2', '3'}

In [128]:
l1 = list(s2)
l1

['1', ' ', '3', '2']

In [129]:
l1[1]

' '

In [130]:
t1 = tuple(s2)
t1

('1', ' ', '3', '2')

In [131]:
t1[1]

' '

In [133]:
s1 = set([1,2,3,4,5])
s2 = set([3,6,1,2,6,8])
s1 & s2

{1, 2, 3}

In [135]:
s1.intersection(s2)

{1, 2, 3}

In [136]:
s1|s2

{1, 2, 3, 4, 5, 6, 8}

In [137]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8}

In [138]:
s1 - s2

{4, 5}

In [139]:
s2 - s1

{6, 8}

In [146]:
s1.update([1,2,5,6,7,1,8,8.5,4.7])
s1

{1, 2, 3, 4, 4.7, 5, 6, 7, 8, 8.5}

In [147]:
s1.remove(4.7)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 8.5}